o
ot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.swp
*.iml
out/
.ensime
*~
*#
.#*
.ivyjars
.idea
.DS_Store
sbt-launch-0.7.5.jar
sbt-launch.jar
*.iml
*.ipr
*.iws
.idea/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
# SublimeText project files
*.sublime-workspace
