    <div class="content">
        <form name="myform">
            <div onclick="chkRads()">
                <input type="radio" name="rad" value="1" checked><span class="radio">1 cours</span><br>
                <input type="radio" name="rad" value="2"><span class="radio">2 cours</span><br>
                <input type="radio" name="rad" value="3"><span class="radio">3 cours</span><br>
                <input type="radio" name="rad" value="4"><span class="radio">4 cours</span><br>
                <input type="radio" name="rad" value="5"><span class="radio">5 cours</span><br>
                <input type="radio" name="rad" value="6"><span class="radio">6 cours</span><br>
            </div>
            <div id="itext" class="button"></div>
            <a href="" ng-click="$back()">
                <span class="buttontext">back</span>
            </a>
            <a href="#/groupS" class="button">
                <div id="result"></div>
                <span class="buttontext">next</span>
            </a>
        </form>
    </div>
