<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="css/style.css" type="text/css" rel="stylesheet" >
        <title></title>
    </head>
    <body>
        <form>
            <a href="#day"><input class="button" type="button" value="day"></a>
            <a href="#week"><input class="button" type="button" value="week"></a>
            <img src="im/calender_1.png" alt="calender">
            <a href="form3.html"><input class="button" type="button" value="<- back" ></a>
            <a href="form5.html"><input class="button" type="button" value="next ->" ></a>
        </form>
        
    </body>
</html>
