<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="css/style.css" type="text/css" rel="stylesheet" >
        <title>form3</title>
    </head>
    <body>
        <form>
             <select>
                 <option>group</option>
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
                 <option>9</option>
            </select><br>
            <select>
                 <option>subgroup</option>
                 <option>a</option>
                 <option>b</option>
            </select>
            <br>
            <a href="form2.html"><input class="button" type="button" value="<- back" ></a>
            <a href="form4.html"><input class="button" type="button" value="next ->" ></a>
        </form>
    </body>
</html>
