<div class="content">
        <form name="test_form_name" id="test_form_id" method="get" action="?">
            <select onClick="process();">
               <option>university:</option>
               <option>BSU</option>
               <option>BSUIR</option>
               <option>BSEU</option>
               <option>BSMU</option>
               <option>BNTU</option>
            </select><br>
            <select onClick="process();">
                <option>faculty:</option>
                <option>Faculty of Applied Mathematics and Computer Science</option>
                <option>Faculty of Biology</option>
                <option>Faculty of Chemistry</option>
                <option>Faculty of Economics</option>
                <option>Faculty of Geography</option>
                <option>Faculty of History</option>
                <option>Faculty of International relations</option>
                <option>Faculty of Law</option>
                <option>Faculty of Liberal Education</option>
                <option>Faculty of Mathematics and Mechanics</option>
                <option>Faculty of Philology</option>
                <option>Faculty of Philosophy and Social Studies</option>
                <option>Faculty of Physics</option>
                <option>Faculty of Pre-University Education</option>
                <option>Faculty of Radiophysics and Computer Technologies</option>
                <option>Military Faculty</option>
            </select><br>
            <select onClick="process();">
                <option>speciality:</option>
                <option>Speciality 1</option>
                <option>Speciality 2</option>
                <option>Speciality 3</option>
            </select><br>
             <a href="#/courses"   onClick="process();">
                <div id="result" class="button"></div>
                 <span class="buttontext">next</span>
            </a>
        </form>
    </div>